@font-face {
    font-family: 'Open-Sans';
    src: url(/Fonts/Open-Sans/OpenSans-Light.ttf) format('truetype'),
    url(/Fonts/Open-Sans/OpenSans-Regular.ttf) format('truetype')
}
@font-face {
font-family: 'Poppins';
src: url(/Fonts/Poppins/Poppins-Regular.ttf) format('truetype'),
url(/Fonts/Poppins/Poppins-SemiBold.ttf) format('truetype'),
url(/Fonts/Poppins/Poppins-Bold.ttf) format('truetype')
}
@font-face {
    font-family: 'Raleway';
    src: url(/Fonts/Raleway/Raleway-Thin.ttf) format('truetype')
}
*{
    margin: 0;
    padding: 0;
}
aside{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    position: fixed;
}
#hero{
    height: 1053px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url(images/hero-bg.jpg);
}
