@font-face {
  font-family: 'Open-Sans';
  src: url(/Fonts/Open-Sans/OpenSans-Light.ttf) format('truetype'),
  url(/Fonts/Open-Sans/OpenSans-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'poppins-regular';
  src: url(/Fonts/Poppins/Poppins-Regular.ttf) format('truetype')
}
@font-face {
  font-family: 'poppins-semibold';
  src: url(/Fonts/Poppins/Poppins-SemiBold.ttf) format('truetype')
}
@font-face {
  font-family: 'poppins-bold';
  src: url(/Fonts/Poppins/Poppins-Bold.ttf) format('truetype')
}
@font-face {
  font-family: 'poppins-extrabold';
  src: url(/Fonts/Poppins/Poppins-ExtraBold.ttf) format('truetype')
}

@font-face {
  font-family: 'raleway-thin';
  src: url(/Fonts/Raleway/Raleway-Thin.ttf) format('truetype')
}
